{% extends "base.html" %}

{% load humanize %}

{% block title %} {{object.title}} {% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>{{object.title}}</h1> 
  <br/>
  <form action="{% url 'like-learningspace' object.id %}" method="post">
      {% csrf_token %}
      <button type="submit", name="learningspace_id", value = "{{object.id}}", class="btn btn-primary btn-sm">Like</button>
  </from>
  <br/>

  {% if request.user == object.user %}
  <a href="{% url 'learningspace-edit' object.id %}">Edit</a>
  <form method="post" action="{% url 'learningspace-delete' object.id %}">
        {% csrf_token %} <input type="submit" value="Delete">
  </form>
  {% endif  %}
  <p style="font-size: 20px;">{{ object.desc | safe}}</p>
  - <span><i>{{object.created_at | naturaltime}}</i></span>
  <p>{{additional}}</p>
  {% for comment in object.comment_set.all %}
  <p>
    {{comment.desc}}
    {% if request.user == comment.user %}
        <a href="{% url 'edit-comment' comment.id %}">Edit</a>
    {% endif %}
    <br><span style="font-size: 12px;"><i>by {{comment.user}}</i></span>
</p>
  {% endfor %}
  <form method="post" action="{% url 'add-comment' object.id %}">
    {% csrf_token %}
    {{ form_comment }}
    <input type="submit" name="Add Comment">
</form>
</div>
{% endblock%}