<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Change Password</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Change Password</button>
</form>
<ul>
    <li> Your password can't be too similar to your other personal information.
    <li> Your password must contain at least 8 characters.
    <li> Your password can't be a commonly used password.
    <li> Your password can't be entirely numeric.</li>   
</ul>
{% endblock %}